{% extends 'listings/base.html' %}

{% block content %}

<h2>{{listing.title}}</h2>

<ul>
    <li> Description : {{listing.description}}</li>
    <li>Sold ? : {{listing.sold|yesno|upper}}</li>
    <li>Annee : {{listing.year}}</li>
    <li>Type : {{listing.type}}</li>
    <li>Groupe : {{listing.band}}</li>
</ul>
<a href="{% url 'listing-change' listing.id %}">Modifier cet Annonce </a>
<a href="{% url 'listing-delete' listing.id %}">[Suprimer]</a>

<a href="{% url 'listing-list' %}">Retourner a la liste des Annonces</a>
{% endblock %}